<!DOCTYPE html>
%html
  %head
    %title= @content[:meta_title] || "Dan DeMeyere"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{ rel: "stylesheet", href: "//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic", type: "text/css" }
    %meta{ "http-equiv" => "Content-Type", content: 'text/html; charset=utf-8' }
    %meta{ name: "keywords", content: @content[:meta_keywords] }
    %meta{ name: "description", content: @content[:meta_description] }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no' }
    %link{ rel:"icon", type: "image/png", href: asset_path("gray-code.png") }
  %body{ class: "#{params[:controller]}-#{params[:action]}"}
    .navbar
      %a.mobile.nav-drawer.icon{ rel: 'nofollow', href: '' } ☰
      .row
        .centered.eight.columns
          .row
            .one.column
            .two.columns
              %a{ href: "/blog", title: 'Blog' } BLOG
            .two.columns
              %a{ href: "/about", title: 'Brief Bio' } ABOUT
            .two.columns.home-link
              %center
                %a{ href: "/", title: 'Home' }
                  = image_tag "gray-code.png", alt: 'Dan DeMeyere Homepage', width:"25"
            .two.columns
              %a{ href: "/work", title: 'Online Resume' } WORK
            .two.columns
              %a{ href: "/contact", title: 'Contact Me' } CONTACT
            .one.column
    = yield
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17024880-3']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
