<!DOCTYPE html>
%html
  %head
    %title DAN DEMEYERE
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: "#{params[:controller]}-#{params[:action]}"}
    .navbar
      .row
        .centered.eight.columns
          .row
            .three.columns
              %a{ href: "/", title: 'Dan DeMeyere Blog' } BLOG
            .three.columns
              %a{ href: "/", title: 'Dan DeMeyere Blog' } ABOUT
            .three.columns
              %a{ href: "/", title: 'Dan DeMeyere Blog' } WORK
            .three.columns
              %a{ href: "/", title: 'Dan DeMeyere Blog' } CONTACT
        .centered.two.columns
    = yield
